In [10]:
import pandas as pd
import numpy as np

In [11]:
#read data
ispeed=pd.read_csv(r'D:\tao\TestData\ispeed2_0107_0800-1200.csv')
node=pd.read_csv(r'D:\tao\TestData\道路資訊_Node.csv')
print(ispeed.head())
print(node.head())
print(type(ispeed['time']))
print(type(node['geometry']))

                  time     start         end  count  speed
0  2020-01-07 08:00:00  25423587  2657578318     84     24
1  2020-01-07 08:05:00  25423587  2657578318     66     27
2  2020-01-07 08:10:00  25423587  2657578318     61     29
3  2020-01-07 08:15:00  25423587  2657578318     49     35
4  2020-01-07 08:20:00  25423587  2657578318     72     26
         lat         lon      nodeid          highway  ref  \
0  25.289479  121.549060  1143800049              NaN  NaN
1  24.979900  121.438729  3657630210              NaN  NaN
2  25.183178  121.448898  3006530662  traffic_signals  NaN
3  25.085714  121.525599  5031527853              NaN  NaN
4  25.218311  121.641769  6539904458              NaN  NaN

                         geometry
0  POINT (121.5490604 25.2894791)
1     POINT (121.4387291 24.9799)
2  POINT (121.4488979 25.1831779)
3  POINT (121.5255987 25.0857136)
4  POINT (121.6417688 25.2183115)
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [12]:
#merge start and end lat/lon
ispeed_start = pd.merge(ispeed, node, left_on='start',right_on='nodeid')
ispeed_start=ispeed_start.drop([ "nodeid",'highway','ref','geometry'], axis=1)
ispeed_start=ispeed_start.rename(columns={"time":"time","start":"start","end":"end","count":"count","speed":"speed","lat":"start_lat","lon":"start_lon"})
ispeed_se = pd.merge(ispeed_start, node, left_on='end',right_on='nodeid')
ispeed_se=ispeed_se.drop([ "nodeid",'highway','ref','geometry'], axis=1)
ispeed_se=ispeed_se.rename(columns={"time":"time","start":"start","end":"end","count":"count","speed":"speed","start_lat":"start_lat","start_lon":"start_lon","lat":"end_lat","lon":"end_lon"})
ispeed_se['ID'] = np.arange(len(ispeed_se))
ispeed_se.head()
ispeed_se.tail()

,time,start,end,count,speed,start_lat,start_lon,end_lat,end_lon,ID
164873,2020-01-07 11:40:00,7276389285,7276389286,98,28,25.072372,121.542363,25.072318,121.544253,164873
164874,2020-01-07 11:45:00,7276389285,7276389286,45,41,25.072372,121.542363,25.072318,121.544253,164874
164875,2020-01-07 11:50:00,7276389285,7276389286,65,37,25.072372,121.542363,25.072318,121.544253,164875
164876,2020-01-07 11:55:00,7276389285,7276389286,67,37,25.072372,121.542363,25.072318,121.544253,164876
164877,2020-01-07 12:00:00,7276389285,7276389286,109,26,25.072372,121.542363,25.072318,121.544253,164877

In [13]:
ispeed_se=ispeed_se.sort_values(by=['time'])
print(ispeed_se[1:3369].describe())
print(ispeed_se[1:3369].tail())
ispeed_se[1:3369].to_csv('D:\\tao\\TestData\\ispeed_se_0107_0800_ID.csv',index=False)

              start           end        count        speed    start_lat  \
count  3.368000e+03  3.368000e+03  3368.000000  3368.000000  3368.000000
mean   1.294614e+09  1.307226e+09   129.085511    25.097684    25.059360
std    1.401772e+09  1.416848e+09   133.950668     6.523287     0.010974
min    2.542360e+07  2.542359e+07     1.000000    13.000000    25.042990
25%    6.382131e+08  6.382131e+08    42.000000    21.000000    25.049858
50%    6.561325e+08  6.561325e+08    85.000000    23.000000    25.057903
75%    9.655332e+08  1.140222e+09   168.000000    28.000000    25.066824
max    7.282712e+09  7.282712e+09  1272.000000    64.000000    25.084888

         start_lon      end_lat      end_lon             ID
count  3368.000000  3368.000000  3368.000000    3368.000000
mean    121.538612    25.059368   121.538626   82439.300475
std       0.020197     0.010976     0.020210   47570.012686
min     121.507290    25.043267   121.507328      49.000000
25%     121.522226    25.049858   121.522226   41274.750000
50%     121.534767    25.057903   121.534787   82469.500000
75%     121.556667    25.066734   121.556745  123604.250000
max     121.575484    25.084554   121.575484  164829.000000
                       time       start         end  count  speed  start_lat  \
98      2020-01-07 08:00:00    25423605   618955691    118     27  25.044937
147     2020-01-07 08:00:00   618955595   618955691    154     22  25.044741
134958  2020-01-07 08:00:00  3799089095   662368087    282     15  25.048227
134713  2020-01-07 08:00:00   662368088  2146098472    104     27  25.047321
2744    2020-01-07 08:00:00   292783106   292783128    102     25  25.045509

         start_lon    end_lat     end_lon      ID
98      121.549141  25.044962  121.548931      98
147     121.548928  25.044962  121.548931     147
134958  121.510149  25.050065  121.510549  134958
134713  121.513275  25.048128  121.511400  134713
2744    121.527292  25.045917  121.525538    2744

In [44]:
type(ispeed['time'])
ispeed[1:23]
ispeed.sort_values(by=['time'])
ispeed[1:32975]
ispeed[1:32975].to_csv('D:\\tao\\TestData\\ispeed2_0107_0800.csv',index=False)

In [4]:
ispeed.describe()
ispeed.head()

                  time     start         end  count  speed
0  2020-01-07 08:00:00  25423587  2657578318     84     24
1  2020-01-07 08:05:00  25423587  2657578318     66     27
2  2020-01-07 08:10:00  25423587  2657578318     61     29
3  2020-01-07 08:15:00  25423587  2657578318     49     35
4  2020-01-07 08:20:00  25423587  2657578318     72     26

In [19]:
ispeed['start'].isin(node['nodeid'])
ispeed['end'].isin(node['nodeid'])

0         True
1         True
2         True
3         True
4         True
          ...
164873    True
164874    True
164875    True
164876    True
164877    True
Name: end, Length: 164878, dtype: bool

In [25]:
node['nodeid'].isin(ispeed['start'])
type(node['nodeid'].isin(ispeed['end']))
node['nodeid'].isin(ispeed['end']).describe()
node['nodeid'].isin(ispeed['start']).describe()
#ispeed['end'].isin(node['nodeid'])

count     28710
unique        2
top       False
freq      26906
Name: nodeid, dtype: object

In [26]:
26904/28710
26906/28710

0.9371647509578545